/*==================================================
                SPINNER
==================================================*/

@keyframes spin{

    from{
        transform:rotate(0);
    }

    to{
        transform:rotate(360deg);
    }

}

/*==================================================
            FLOAT ANIMATION
==================================================*/

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0);

    }

}

/*==================================================
            FADE UP
==================================================*/

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
.hero-text{

opacity:1;

transform:none;

animation:none;

}

.hero-image{

    animation:fadeUp 1.1s ease;

}